.header{
    height : 60px;
    display:flex;
    align-items: center;
    position: sticky;
    background-color: black;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 120px;
    height: 60px;
}
.header__search{
    display: flex;
    align-items : center;
    border-radius: 24px;
    width : 72%
}

.header__searchIn{
    height: 12px;
    padding: 10px;
    border : none;
    width: 100%;

}
.header_searchIcon{
    padding: 5px;
    height: 12px;
    background-color: #cd9042;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right : 10px;
    color: white;
}

.header__optionLineOne{
    font-size:  10px;
}

.header__optionLineTwo{
    color: white;
    font-size:  13px;
    font-weight: 800;
}

.shoppingCartIcon{
    color: white
    ;
}

.header__optionBasket{
    display : flex;
    align-items: center;
    color: white;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;

}


